<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <style>
        .reg {
            margin-left: 100px;
        }

    </style>
</head>
<body>
<!-- 为使用方便，直接使用jquery.js库，如您代码中不需要，可以去掉 -->
<script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
<!-- 引入封装了failback的接口--initGeetest -->
<script src="http://static.geetest.com/static/tools/gt.js"></script>

{% csrf_token %}
<p>账号：<input class="c1" type="text" placeholder="账号"><span></span></p>
<p>密码：<input class="c1" type="password" placeholder="密码"><span class="c2"></span></p>

{#<p>验证码:<input type="text" placeholder="验证码" id="valid"><span class="c2"></span></p>#}
{#<p><img class="c9" src="/img/"></p>#}

<span><button class="login" id="popup-submit">登陆</button></span>
<span><a href="/reg/"><button class="reg">注册</button></a></span>
<div id="popup-captcha"></div>
<script src="/static/jquery3.2.1.js"></script>
<script src="/static/jquery.cookie.js"></script>
{#<script>#}

<script>
    var handlerPopup = function (captchaObj) {
        // 成功的回调
        captchaObj.onSuccess(function () {
            var validate = captchaObj.getValidate();
            $.ajax({
                url: "/pc-geetest/ajax_validate", // 进行二次验证
                type: "post",
                dataType: "json",
                data: {
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    username: $(':text').val(),
                    password: $(':password').val(),
                    geetest_challenge: validate.geetest_challenge,
                    geetest_validate: validate.geetest_validate,
                    geetest_seccode: validate.geetest_seccode
                },
                success: function (data) {
                    if (data["error"]) {
                        $(".c2").html(data["error"])
                    } else if (data["is_login"]) {
                        if (location.search.slice(6)) {
                            location.href = location.search.slice(6)
                        } else {
                            location.href = "/"
                        }

                    }
                }
            });
        });
        $("#popup-submit").click(function () {
            captchaObj.show();
        });
        // 将验证码加到id为captcha的元素里
        captchaObj.appendTo("#popup-captcha");
        // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
    };
    // 验证开始需要向网站主后台获取id，challenge，success（是否启用failback）
    $.ajax({
        url: "/pc-geetest/register?t=" + (new Date()).getTime(), // 加随机数防止缓存
        type: "get",
        dataType: "json",
        success: function (data) {
            // 使用initGeetest接口
            // 参数1：配置参数
            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
            }, handlerPopup);
        }
    })
</script>
{#    $(function () {#}
{#        function foo() {#}
{#             $(".c2").html("");#}
{#        }#}
{#        $(".login").click(function () {#}
{#            $(".c1").each(function (i,v) {#}
{#                if (!$(v).val()){#}
{#                    $(v).next().html("内容不能为空！！");#}
{#                    return false#}
{#                }else{#}
{#                    $(v).next().html("");#}
{#                }#}
{#                 $.ajax({#}
{#                        url:"/login/",#}
{#                        type:"POST",#}
{#                        headers:{"X-CSRFToken":$.cookie('csrftoken')},#}
{#                        data:{#}
{#                            csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),#}
{#                            name:$(":text").val(),#}
{#                            password:$(":password").val(),#}
{#                            valid:$("#valid").val()#}
{#                        },#}
{#                        success:function (data) {#}
{#                            data=JSON.parse(data);#}
{#                            if (data["error"]){#}
{#                                $(".c2").html(data["error"])#}
{#                            }else if (data["is_login"]){#}
{#                                if (location.search.slice(6)){#}
{#                                    location.href=location.search.slice(6)#}
{#                                }else{#}
{#                                   location.href="/"#}
{#                                }#}
{##}
{#                            }#}
{#                        }#}
{#                    })#}
{#            })#}
{#        })#}
{#    });#}
{#刷新验证码#}
{#    $(function () {#}
{#        $(".c9").click(function () {#}
{#            var path = $(this).attr("src");#}
{#            $(this).attr("src",path+"?")#}
{#        })#}
{#    })#}

{#</script>#}
</body>

</html>